/* マージンとパディングをリセット */
* {
  margin: 0;
  padding: 0;
}

.App.lightmode {
  background-color: aliceblue; /* ライトモードの背景色 */
  color: #282c34;
  text-align: center;
  height: 200vh; /* 全体の高さを画面に合わせる */
}

.App.darkmode {
  background-color: #282c34; /* ダークモードの背景色 */
  color: aliceblue;
  text-align: center;
  height: 200vh; /* 全体の高さを画面に合わせる */
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

/* Static styles for all links */
.nav-link-custom {
  text-decoration: none; /* Remove underline from links */
  margin: 0 10px;        /* Set margins around each link */
}

/* Dynamic styles for dark mode */
.dark-mode .nav-link-custom {
  color: white;
}

/* Dynamic styles for light mode */
.light-mode .nav-link-custom {
  color: black;
}
